<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Win.Restaurante_de_sushi.Properties.Settings.SUSHIDB_d6e8936b27eb410db36208f0ed1bb4d1ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SUSHIDB_d6e8936b27eb410db36208f0ed1bb4d1;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>